body {
  background: skyblue;
  font-family: verdana;
  color: #fff;
  padding: 30px;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

#contact-form input {
  display: block;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 400px;
  padding: 5px;
  margin: 5px auto 15px 0;
}
#contact-form input[type='submit'] {
  width: 70px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
}
